@import "@/styles/themes/lightTheme.css";
@import "@/styles/themes/accessibleTheme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-primary: #ffd700;
    --color-secondary: #003366;
    --color-buttons: #f5af19;
    --color-button-text: #121212;
    --color-typography: #e0e0e0;
    --color-typography-secondary: #a8a8a8;
    --color-accent: #c8001e;
    --color-background: #121212;
  }
}
